.main {
  width: 80%;
  margin: auto;
}

.main .nav-pills .nav-item button {
  padding: 10px;
}
.nav-item {
  background-color: white;
  font-size: 20px;
}
.nav-item:last-child {
  border-top-right-radius: 5px;
}
.nav-item:first-child {
  border-top-left-radius: 5px;
}
.table {
  background-color: rgb(255, 255, 255, 0.3);
  margin: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 15px;
  width: 70%;
  margin-top: 35px;
}

.mainRezervation .tableContainer .btn {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  letter-spacing: 5px;
  border: 0.5px solid darkgray;
}
.btnDegerlendirmeTrue:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#rating .modal-body div {
  display: flex;
}
#rating .modal-body div {
  display: flex;
  margin: auto;
  justify-content: space-between;
  font-size: 20px;
}
/* RATİNG */

/* use reverse flexbox to take advantage of flex-direction: reverse */
.Satisfaction .star-ratingSatisfaction {
  display: flex;
  align-items: center;
  width: 160px;
  flex-direction: row-reverse;
  justify-content: space-between;

  position: relative;
}
/* hide the inputs */
.Satisfaction .star-ratingSatisfaction input {
  display: none;
}
/* set properties of all labels */
.Satisfaction .star-ratingSatisfaction > label {
  width: 30px;
  height: 30px;
  font-family: Arial;
  font-size: 30px;
  transition: 0.2s ease;
  color: orange;
}
/* give label a hover state */
.Satisfaction .star-ratingSatisfaction label:hover {
  color: #ff69b4;
  transition: 0.2s ease;
}
.Satisfaction .star-ratingSatisfaction label:active::before {
  transform: scale(1.1);
}

/* set shape of unselected label */
.Satisfaction .star-ratingSatisfaction label::before {
  content: "\2606";
  position: absolute;
  top: 0px;
  line-height: 26px;
}
/* set full star shape for checked label and those that come after it */
.Satisfaction .star-ratingSatisfaction input:checked ~ label:before {
  content: "\2605";
}

/* FUN */

/* use reverse flexbox to take advantage of flex-direction: reverse */
.Fun .star-ratingFun {
  display: flex;
  align-items: center;
  width: 160px;
  flex-direction: row-reverse;
  justify-content: space-between;

  position: relative;
}
/* hide the inputs */
.Fun .star-ratingFun input {
  display: none;
}
/* set properties of all labels */
.Fun .star-ratingFun > label {
  width: 30px;
  height: 30px;
  font-family: Arial;
  font-size: 30px;
  transition: 0.2s ease;
  color: orange;
}
/* give label a hover state */
.Fun .star-ratingFun label:hover {
  color: #ff69b4;
  transition: 0.2s ease;
}
.Fun .star-ratingFun label:active::before {
  transform: scale(1.1);
}

/* set shape of unselected label */
.Fun .star-ratingFun label::before {
  content: "\2606";
  position: absolute;
  top: 0px;
  line-height: 26px;
}
/* set full star shape for checked label and those that come after it */
.Fun .star-ratingFun input:checked label:before {
  content: "\2605";
}

/* Presentation */
/* use reverse flexbox to take advantage of flex-direction: reverse */
.Presentation .star-ratingPresentation {
  display: flex;
  align-items: center;
  width: 160px;
  flex-direction: row-reverse;
  justify-content: space-between;

  position: relative;
}
/* hide the inputs */
.Presentation .star-ratingPresentation input {
  display: none;
}
/* set properties of all labels */
.Presentation .star-ratingPresentation > label {
  width: 30px;
  height: 30px;
  font-family: Arial;
  font-size: 30px;
  transition: 0.2s ease;
  color: orange;
}
/* give label a hover state */
.Presentation .star-ratingPresentation label:hover {
  color: #ff69b4;
  transition: 0.2s ease;
}
.Presentation .star-ratingPresentation label:active::before {
  transform: scale(1.1);
}

/* set shape of unselected label */
.Presentation .star-ratingPresentation label::before {
  content: "\2606";
  position: absolute;
  top: 0px;
  line-height: 26px;
}
/* set full star shape for checked label and those that come after it */
.Presentation .star-ratingPresentation input:checked ~ label:before {
  content: "\2605";
}

@-moz-document url-prefix() {
  .star-rating input:checked ~ label:before {
    font-size: 36px;
    line-height: 21px;
  }
}
* {
  box-sizing: border-box;
}

.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 150px;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: 0.3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after {
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.emoji-wrapper:before {
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 35%,
    rgba(255, 255, 255, 0) 100%
  );
}

.emoji-wrapper:after {
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 35%,
    rgba(255, 255, 255, 0) 100%
  );
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.emoji > svg {
  margin: 15px 0;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

#rating-1:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-100px);
}
#rating-2:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-200px);
}
#rating-3:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-300px);
}
#rating-4:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-400px);
}
#rating-5:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-500px);
}

.tickets th {
  font-size: 1rem;
}
.tickets td {
  font-size: 0.9rem;
}

.feedback {
  max-width: 360px;
  background-color: #fff;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}
.btnDetail {
  background-color: var(--primaryColor);
  border-radius: 5px;
  opacity: 0.9;
  color: white !important;
  font-weight: bold;
  width: 150px;
  height: 60px;
  border: 0.5px solid darkgray;
}

.btnComments {
  background-color: var(--secondaryColor);
  border-radius: 5px;
  opacity: 0.9;
  color: black !important;
  font-weight: bold;
  width: 150px;
  height: 60px;
  border: 0.5px solid darkgray;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.btnCommentsDisable {
  background-color: var(--secondaryColor);
  border-radius: 5px;
  opacity: 0.5;
  color: black !important;
  font-weight: bold;
  width: 150px;
  height: 60px;
  border: 0.5px solid darkgray;
}
.btnDetail:hover,
.btnComments:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  justify-content: space-between;
}

.modal-body > div {
  display: flex;
}
.text {
  width: 30%;
  font-weight: bold;
  font-size: 1.1rem;
}
.input {
  font-size: 1rem;
}
.modal-dialog {
  max-width: 800px !important;
}
.search {
  display: flex;
  justify-content: space-around;
}
.searchContainer {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 10px 0;
  padding: 30px 0px;
}
.btnTicket {
  background-color: #ff0063;
  border-radius: 5px;
  opacity: 0.9;
  color: #eaf6f6 !important;
  font-weight: bold;
  width: 150px;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 2px;
  border: 0.5px solid darkgray;
  text-decoration: none;
}

.btnTicket:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.searchHeader {
  text-align: center;
}
.tableDisplay {
  gap: 5px;
  align-items: center;
  display: flex;
}
.tableDisplay i {
  font-size: 22px;
  color: #ff0063;
}
.tableDisplay i:hover {
  cursor: pointer;
}
.table tr {
  font-size: 0.9rem;
}
.modal-detail {
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (max-width: 992px) {
  .tableMain .displayResponsive {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .tableMain .displayResponsiveMobile {
    display: none;
  }
  .modal-body > div {
    display: flex;
  }
}
@media screen and (max-width: 790px) {
  .modal-detail {
    display: flex;
    flex-direction: column-reverse;
  }
  .modal-img {
    text-align: center;
  }
}
.notRezervationMain {
  text-align: center;
  background-color: rgb(255, 255, 255, 0.3);
  margin: auto;

  font-size: 1.2rem;
  font-weight: 300;
  padding: 21px;
  border-radius: 10px;
}
.notRezervationMain__header {
  margin-bottom: 15px;
}

section#notRezervation {
  margin-top: 11px;
}
